.ipynb_checkpoints/
.nextflow/
.nextflow.log*
*.ipynb
scripts/.ipynb_checkpoints
.vscode*
bin/__pycache__/

output_test/
output*/
*out*/
SL*/
dev*/
refs/
work/
old/
test_results/
future/

# Files
*pdf
*png
*svg
list.eqtls*
*html
report.html
*.sif
singularity*
m8*
.DS_Store
