.ipynb_checkpoints/
.nextflow/
.nextflow.log*
.nextflow.pid
*.ipynb
scripts/.ipynb_checkpoints
.vscode*
bin/__pycache__/

samplesheets/
output_test/
output*/
results/
results*/
*out*/
SL*/
dev*/
refs/
work/
tmp/
old/
test_results/
future/

# Files
*pdf
*png
*svg
list.eqtls*
*html
report.html
*.sif
singularity*
m8*
